@import "tailwindcss";

/* Custom multi-line clamp */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;   /* number of lines to show */
  line-clamp: 3;           /* standard property for compatibility */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Remove number input arrows for WhatsApp field */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.no-spinner {
  appearance: textfield;      /* Standard property */
  -moz-appearance: textfield; /* Firefox */
}
